.peca {
    width: 10%;
    float: left;
}

.peca .btn {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #A8B0B8;
    box-sizing: border-box;
}

.peca .btn.selecionada {
    background-color: blue;
}

.row {
    /*display: -webkit-inline-box;*/
}