.decimo{
    width: 10%;
    float: left;
}
.decimo button{
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #A8B0B8;
}
.row{
    /*display: -webkit-inline-box;*/
}