<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dama Play 2.0</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body ng-app="app" ng-controller="DamasController">
<div class="container-fluid">
    <div class="jumbotron">
        <button class="btn btn-primary" ng-click="removerJogador()">Zerar</button>
        <br> {{alteracoes.posInicial}}<br>
        {{alteracoes.posFinal}}<br>
        <div class="content-tabuleiro col-md-12 white">
            <h1 ng-if="podeSelecionar">É a sua vez!</h1>
            <h1 ng-if="!podeSelecionar">Vez do jogador {{jogador1.numero==1?2:1}}</h1>
            <div>
                Jogador: {{jogador1.numero ? jogador1.numero : 'Não definido'}}
            </div>

            <div class="row text-center" ng-repeat="(x,linha) in tabuleiro" ng-show="tabuleiro.length">
                <div class="coluna" ng-repeat="(y,peca) in linha track by $index">
                    <div class="peca" ng-click="selecionar(peca);">
                        <div class="btn btn-{{peca.cor}}" id="button-{{peca.id}}"
                             ng-class="pecaController(peca)" style="width: {{size}};height: {{size}};">
                        </div>
                    </div>
                </div>
                <div><br></div>
            </div>
        </div>
    </div>
</div>

<script src="/js/utils.js"></script>
<script src="/js/dama-api.js"></script>
<script src="/js/main.js"></script>
<script src="/js/dama.js"></script>
</body>
</html>
