<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dama Play 2.0</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>
<body ng-app="app">
<div class="container-fluid">
    <div class="jumbotron">
        <div>
            <div>
                Usuário
            </div>
            <div ng-controller="DamasController" class="content-tabuleiro col-md-12 white">

                <div class="row text-center" ng-repeat="(x,linha) in tabuleiro" ng-show="tabuleiro.length">
                    <div class="coluna" ng-repeat="(y,peca) in linha track by $index">
                        <div class="peca" ng-click="selecionar(peca);">
                            <div class="btn btn-{{peca.cor}}" id="button-{{peca.id}}"
                                 ng-class="{'selecionada': peca.selecionada}"
                                 style="background-image: {{peca.img}};width: {{size}};height: {{size}};">
                            </div>
                        </div>
                    </div>
                    <div><br></div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="js/utils.js"></script>
<script src="js/main.js"></script>
<script src="js/dama.js"></script>
</body>
</html>
